:root {
  --main-bg-color: #1c1c1c;
  --main-title-color: #ffffff;
  --main-header-color: #6943ff;
}

.light {
  --second-bg-color: #f4f4f4;
  --main-h2-color: #5a537b;
  --main-p-color: #353535;
  --convertion-bg: #ffffff;
}

.dark {
  --second-bg-color: #1f2937;
  --main-h2-color: #ccc1ff;
  --main-p-color: #ffffff;
  --convertion-bg: #273549;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  min-width: 300px;
  background-color: #1c1c1c;
}
/* header  container*/
header {
  font-size: 1.3rem;
  color: #ecfdf5;
  padding: 3rem;
  height: 1rem;
  margin-bottom: 8rem;
}
.header-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header p {
  font-size: 1rem;
  color: var(--main-title-color);
}

/* main */

main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  min-width: 230px;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 0;
}
@media screen and (min-width: 550px) {
  main {
    width: 90%;
    height: 729px;
    margin: 0 auto;
    min-width: 230px;
    max-width: 550px;
  }
  section {
    padding: 1.5rem;
  }
}
.header-container {
  background-color: var(--main-header-color);
  color: var(--main-title-color);
  text-align: center;
  width: 100%;
}

.header-container h1 {
  font-size: 2.5rem;
}
.unit-container {
  width: 117px;
  border: 2px solid #b295ff;
  border-radius: 5px;
  margin: 3rem auto;
}
.unit-container input {
  width: 100%;
  font-size: 6rem;
  padding: 1.8rem 0.4rem 1.8rem 1.8rem;
}
.header-container button {
  font-size: 1.6rem;
  padding: 0.9rem 2.7rem;
  margin-bottom: 3rem;
}

.convertion-types {
  background-color: var(--second-bg-color);
}
.convertion-types h2 {
  color: var(--main-h2-color);
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 0.9rem;
}
.convertion-types p {
  color: var(--main-p-color);
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  padding-bottom: 1.4rem;
}
.convertion-types .convertions {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: var(--convertion-bg);
  margin-top: 2rem;
  padding: 2rem;
}

/* --------------------------------- switch --------------------------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-title-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: #1f2937;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
